.evo-header {
    background-color: $offwhite !important;
}
.evo-navbar-brand {
    background-color: $offwhite !important;
    border: none !important;
}

.evo-sidebar {
    //margin-top: 3.25rem; 
    padding-top: 0rem;
    background-color: $brandDark;
    position: inherit;
}

.evo-nav-div {
    text-align:left;
    margin-top: 0px !important;
    padding-top: 0px !important;
    background-color: $brandDark;
    color: $white;
}

.evo-nav-search {
    background-color: $brandDark;
    color: $white;
    border: none;
    border-radius: 0rem;
    padding: 10px;
    font-size: 14px;

    &:hover, &:focus {
        background-color: $brandDark;
        color: $white;
    }
}

.evo-nav-ul {
    background-color: $brandLightDark;
    color: $white;

    a {
        &:not(.has-caret){
            padding-left: 25px;
        }
        color: $white !important;
        font-size: 14px;
        font-weight: 600 !important;

        &.has-caret{
            padding-left: 5px !important;
        }
        
        .nav-link{
            color: $white;
        }

        &.active {
            margin-bottom: 10px;
            background-color: $brandColor;
            color: $white;
            box-shadow: 0px 10px $brandDark;
        }
        &:focus, &:active, &:link {
            color: $white;
        }

        
        &:hover {
            &:not(.active){
                color: $brandColor !important;
            }
        }
        
    }
}


/** TableArea Component */

.evo-test-heading {
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: $brandColor2;
}

.evo-test-subheading {
    text-align:left;
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
}

.b-table   {
    text-align: left;
}

.no-border, .no-border-danger {
    border: none !important;
    padding: 0px !important;
    font-size: 16px !important;
    /* background: #039; */
    height: 20px;

    &:hover {
        color: $brandColor;
    }
}

.no-border-danger{
    &:hover {
        color: red;
    }
}
